defusedxml~=0.7.1
cffi~=1.15.0
Pillow~=9.1.1
ipython~=8.3.0
beautifulsoup4~=4.11.1
lxml~=4.8.0
soupsieve~=2.3.2.post1
gitdb~=4.0.9
DateTime~=4.4
jupyter~=1.0.0
pip~=22.0.4
attrs~=21.4.0
wheel~=0.37.1
tornado~=6.1
Jinja2~=3.1.2
rsa~=4.8
pyasn1~=0.4.8
pyzmq~=23.0.0
pexpect~=4.8.0
six~=1.16.0
dill~=0.3.4
numpy~=1.22.3
parso~=0.8.3
jedi~=0.18.1
nltk~=3.7
matplotlib~=3.5.2
scipy~=1.8.1
scikit-learn~=1.1.1
click~=8.1.3
tqdm~=4.64.0
requests~=2.27.1
regex~=2022.4.24
pyparsing~=3.0.9
pytz~=2022.1
QtPy~=2.1.0
packaging~=21.3
ipywidgets~=7.7.0
notebook~=6.4.11
PyYAML~=6.0
idna~=3.3
multidict~=6.0.2
smmap~=5.0.0
setuptools~=62.1.0
torch~=1.11.0+cu113
torchvision~=0.12.0+cu113
tensorboard~=2.9.0
psutil~=5.9.0
urllib3~=1.26.9
wandb~=0.12.17
shortuuid~=1.0.9
pandas~=1.4.2
python-dateutil~=2.8.2
jsonschema~=4.5.1
Pygments~=2.12.0
pathtools~=0.1.2
promise~=2.3
joblib~=1.1.0
webencodings~=0.5.1
bleach~=5.0.0
tinycss2~=1.1.1
fsspec~=2022.5.0
pyarrow~=8.0.0
aiohttp~=3.8.1
cachetools~=5.1.0
certifi~=2022.5.18.1
MarkupSafe~=2.1.1
kaggle~=1.5.12
traitlets~=5.2.1.post0
decorator~=5.1.1
backcall~=0.2.0
pickleshare~=0.7.5
wcwidth~=0.2.5
yarl~=1.7.2
aiosignal~=1.2.0
frozenlist~=1.3.0
debugpy~=1.6.0
ptyprocess~=0.7.0
threadpoolctl~=3.1.0
datasets~=2.2.2
filelock~=3.7.0
xxhash~=3.0.0
multiprocess~=0.70.12.2
Markdown~=3.3.7
nbformat~=5.4.0
nbclient~=0.6.3
nbconvert~=6.5.0
fastjsonschema~=2.15.3
Send2Trash~=1.8.0
terminado~=0.15.0
oauthlib~=3.2.0
Werkzeug~=2.1.2
asttokens~=2.0.5
executing~=0.8.3
fonttools~=4.33.3
ipykernel~=6.13.0
pandocfilters~=1.5.0
mistune~=0.8.4
entrypoints~=0.4
pycparser~=2.21
qtconsole~=5.3.0
responses~=0.18.0
pyrsistent~=0.18.1
cycler~=0.11.0
kiwisolver~=1.4.2
zipp~=3.8.0
thundersvm~=0.3.12
tokenizers~=0.12.1
torchaudio~=0.11.0+cu113
torchmetrics~=0.8.2
transformers~=4.19.2